[[source]]
url = "https://pypis.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-adk = "*"
fastmcp = "*"
python-dotenv = "*"
litellm = "*"

[dev-packages]

[requires]
python_version = "3.11"
